html, body {
    background-color: #EDF2F9;
}

.center-icon {
    vertical-align: middle;
}

.content {
    margin-left: 50px;
    margin-top: 60px;
    transition: 0.2s;
}

.btn__toggle--bar{
    width: 50px;
    text-align: center;
}

.btn__toggle--bar-circle {
    border-radius: 50%;
    border: 1px solid transparent;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn__toggle--bar-circle:hover{
    background-color: #dee2e6;
    transition: 0.3s;
}

/**
   Inicio Navbar style
*/
.side_bar {
    width: 50px;
    height: 90vh;
    top: 60px;
    transition: 0.2s;
}

.ul__nav{
    padding-left: calc(50px / 3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.ul__nav li {
    text-decoration: none;
    width: 50px;
    transition: 0.2s;
}

.ul__nav li a{
    text-decoration: none;
}

.list_description{
 display: none;
}


.side_bar:hover{
    width: 200px;
    transition: 0.2s;
}

.side_bar:hover + .content{
    margin-left: 200px;
    transition: 0.2s;
}

.side_bar:hover .nav-item{
    width: 200px !important;
    transition: 0.2s;
}

.side_bar:hover .list_description{
    display: block;
    transition: 0.2s;
}


.list__collapse{
    list-style: none;
    padding-left: 1.8rem;
}

.nav__br--daddy{
    width: 50px;
}

.list__collapse li{
    width: 176px;
}

.icon__navbar{
    font-size: 1.3rem;
}
/**
  Fim  Navbar style
*/

/**
Font
*/
.fw-regular  {
    font-weight: 400;
}

.fw-medium  {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}       

.fw-black  {
    font-weight: 900;
}
