html, body {
    background-color: #EDF2F9;
    overflow: hidden;
}

.center-icon {
    vertical-align: middle;
}

.content {
    margin-left: 50px;
    transition: 0.2s;
}
#curved-corner-bottomleft{
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    }
    #curved-corner-bottomleft:before{
        content: "";
        display: block;
        width: 200%;
        height: 200%;
        position: absolute;
        border-radius: 27%;
    }
    #curved-corner-bottomleft:before {
    top: 0;
    left: 0;
    box-shadow: -50px -50px 0 0 white;
    }

.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
/**
Font
*/
.fw-regular  {
    font-weight: 400;
}

.fw-medium  {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}       

.fw-black  {
    font-weight: 900;
}
